version: '3.8'

services:
  redis:
    image: redis:alpine
    container_name: cache
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 3

  app:
    build: ./
    container_name: drama-news-api
    volumes:
      - ./:/var/www/app
      - /var/www/app/node_modules
    depends_on:
      redis:
        condition: service_healthy
    ports:
      - "5000:5000"
    environment:
      - REDIS_URL=redis://cache:6379
      - NODE_ENV=development
      - PORT=5000
    command: npm run start
    restart: always

volumes:
  redis-data: